@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: sticky;
  top: 0;
}
.header .header__logo {
  display: flex;
  width: 20%;
  justify-content: center;
}
.header .header__logo .header__logo__item {
  display: flex;
  width: 100px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.header .header__logo .header__logo__item:hover {
  transition: all 0.3s;
  transform: scale(1.2);
  border-color: black;
  background-size: 85%;
}
.header .header__menu {
  display: flex;
  width: 80%;
  justify-content: center;
}
.header .header__menu .header__menu__item {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 1rem;
}
.header .header__menu .header__menu__item:hover {
  transition: all 0.3s;
  border: 1px solid black;
  transform: scale(1.2);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background-color: #e0e0e0;
  margin-top: -67px;
}
.main .main__posts-list-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin-top: 100px;
}
.main .main__posts-list-container .main__posts-list-container__item {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 25px;
  border-radius: 1px solid transparent;
  transition: all 0.5s;
}
.main .main__posts-list-container .main__posts-list-container__item .m-p-i_article {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main .main__posts-list-container .main__posts-list-container__item .m-p-i_article .m-p-i_article_title {
  display: flex;
  align-self: center;
  text-align: center;
  margin-bottom: 15px;
}
.main .main__posts-list-container .main__posts-list-container__item .m-p-i_article .m-p-i_article_body {
  display: flex;
  width: 100%;
  line-height: 24px;
  margin-bottom: 15px;
}
.main .main__posts-list-container .main__posts-list-container__item .m-p-i_article .m-p-i_article_more-btn {
  display: flex;
  align-self: center;
}
.main .main__posts-list-container .main__posts-list-container__item:hover {
  border-color: black;
  transition: all 0.2s;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.main .main__greetings-page {
  display: flex;
  width: 80%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .main__greetings-page .main__greetings-page_title {
  display: flex;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}
.main .main__greetings-page .main__greetings-page_get-started-btn {
  display: flex;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  border: 1px solid black;
  border-radius: 1rem;
  color: black;
  text-decoration: none;
}
.main .main__greetings-page .main__greetings-page_get-started-btn:hover {
  transition: all 0.3s;
  transform: scale(1.2);
  background: linear-gradient(to bottom, aqua, #009696);
  box-shadow: 0px 5px 15px rgba(0, 55, 55, 0.6);
}
.main .main__post-page {
  display: flex;
  width: 100%;
  justify-content: center;
}
.main .main__post-page .main__post-page__message {
  display: flex;
  width: 80%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.main .main__post-page .main__post-page__post {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  margin-top: 67px;
}
.main .main__post-page .main__post-page__post .m-p-p_title {
  display: flex;
  margin-bottom: 25px;
}
.main .main__post-page .main__post-page__post .m-p-p_body {
  display: flex;
  line-height: 24px;
  margin-bottom: 15px;
}
.main .main__post-page .main__post-page__post .m-p-p_comments {
  display: flex;
  width: calc(100% - 30px);
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_comments_title {
  margin-bottom: 15px;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_comments_comments-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border: 5px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_comments_comments-box .comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_comments_comments-box .comment h4 {
  margin-bottom: 5px;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_form {
  display: flex;
  width: 100%;
  align-self: center;
  flex-direction: column;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_form .m-p-p_input {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  width: 100%;
  margin-bottom: 15px;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_form .m-p-p_input:hover {
  border-color: #009696;
  transition: all 0.3s;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_form .m-p-p_input:focus {
  outline: none;
  transition: all 0.3s;
  border-color: #009696;
  background-color: #fff;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_form .m-p-p_send-btn {
  display: flex;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: all 0.3s;
  margin-bottom: 50px;
  align-self: center;
  border: 1px solid black;
  border-radius: 1rem;
  align-self: flex-end;
  margin-bottom: 10px;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_form .m-p-p_send-btn:hover {
  transition: all 0.3s;
  transform: scale(1.2);
  background: linear-gradient(to bottom, aqua, #009696);
  box-shadow: 0px 5px 15px rgba(0, 55, 55, 0.6);
  cursor: pointer;
}
.main .main__post-page .main__post-page__post .m-p-p_comments .m-p-p_form .m-p-p_send-btn:focus {
  outline: none;
  transition: all 0.3s;
  transform: scale(0);
}
.main .main__post-page .main__post-page__post .m-p-p_buttons-container {
  display: flex;
  width: 80%;
  align-self: center;
  justify-content: space-evenly;
}
.main .main__post-page .main__post-page__post .m-p-p_post-change-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-self: center;
  margin-top: 25px;
}
.main .main__post-page .main__post-page__post .m-p-p_post-change-form .m-p-p_form-title {
  margin-bottom: 15px;
}
.main .main__post-page .main__post-page__post .m-p-p_post-change-form .m-p-p_input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.main .main__post-page .main__post-page__post .m-p-p_post-change-form .m-p-p_input-box .m-p-p_input-title {
  margin-bottom: 10px;
}
.main .main__post-page .main__post-page__post .m-p-p_post-change-form .m-p-p_input-box .m-p-p_input {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
.main .main__post-page .main__post-page__post .m-p-p_post-change-form .m-p-p_input-box .m-p-p_input:hover {
  border-color: #009696;
  transition: all 0.3s;
}
.main .main__post-page .main__post-page__post .m-p-p_post-change-form .m-p-p_input-box .m-p-p_input:focus {
  outline: none;
  transition: all 0.3s;
  border-color: #009696;
  background-color: #fff;
}
.main .main__post-page .main__post-page__post .m-p-p_post-change-form .m-p-p_submit-btn {
  display: flex;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: all 0.3s;
  margin-bottom: 50px;
  align-self: center;
  border: 1px solid black;
  border-radius: 1rem;
}
.main .main__post-page .main__post-page__post .m-p-p_post-change-form .m-p-p_submit-btn:hover {
  transition: all 0.3s;
  transform: scale(1.2);
  background: linear-gradient(to bottom, aqua, #009696);
  box-shadow: 0px 5px 15px rgba(0, 55, 55, 0.6);
  cursor: pointer;
}
.main .main__post-page .main__post-page__post .m-p-p_post-change-form .m-p-p_submit-btn:focus {
  outline: none;
  transition: all 0.3s;
  transform: scale(0);
}
.main .main__post-page .main__post-page__post .m-p-p_delete-btn {
  display: flex;
  width: fit-content;
  align-self: center;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: all 0.3s;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 0 0 25px 0;
}
.main .main__post-page .main__post-page__post .m-p-p_delete-btn:hover {
  transition: all 0.3s;
  transform: scale(1.2);
  background: linear-gradient(to bottom, #ff0a0a, #960000);
  color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.main .main__post-page .main__post-page__post .m-p-p_delete-btn:focus {
  outline: none;
}
.main .main__post-page .main__post-page__post .m-p-p_change-btn {
  display: flex;
  width: fit-content;
  align-self: center;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: all 0.3s;
  border: 1px solid black;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  margin: 0 0 25px 0;
}
.main .main__post-page .main__post-page__post .m-p-p_change-btn:hover {
  transition: all 0.3s;
  transform: scale(1.2);
  background: linear-gradient(to bottom, #0a9b0a, #003200);
  color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}
.main .main__post-page .main__post-page__post .m-p-p_change-btn:focus {
  outline: none;
}
.main .main__post-page .main__post-page__delete-message {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.main .main__new-post-page {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 80%;
}
.main .main__new-post-page .main__new-post-page__title {
  display: flex;
  margin-bottom: 25px;
}
.main .main__new-post-page .main__new-post-page__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main .main__new-post-page .main__new-post-page__form .m-n-f_input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.main .main__new-post-page .main__new-post-page__form .m-n-f_input-box .m-n-f_input-title {
  margin-bottom: 10px;
}
.main .main__new-post-page .main__new-post-page__form .m-n-f_input-box .m-n-f_input {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
.main .main__new-post-page .main__new-post-page__form .m-n-f_input-box .m-n-f_input:hover {
  border-color: #009696;
  transition: all 0.3s;
}
.main .main__new-post-page .main__new-post-page__form .m-n-f_input-box .m-n-f_input:focus {
  outline: none;
  transition: all 0.3s;
  border-color: #009696;
  background-color: #fff;
}
.main .main__new-post-page .main__new-post-page__form .m-n-f_submit-btn {
  display: flex;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: all 0.3s;
  margin-bottom: 50px;
  align-self: center;
  border: 1px solid black;
  border-radius: 1rem;
}
.main .main__new-post-page .main__new-post-page__form .m-n-f_submit-btn:hover {
  transition: all 0.3s;
  transform: scale(1.2);
  background: linear-gradient(to bottom, aqua, #009696);
  box-shadow: 0px 5px 15px rgba(0, 55, 55, 0.6);
  cursor: pointer;
}
.main .main__new-post-page .main__new-post-page__form .m-n-f_submit-btn:focus {
  outline: none;
  transition: all 0.3s;
  transform: scale(0);
}

/*# sourceMappingURL=style.css.map */
