@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import "./mixins.scss";

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    z-index: 10;
    position: sticky;
    top: 0;

    .header__logo {
        display: flex;
        width: 20%;
        justify-content: center;

        .header__logo__item {
            display: flex;
            width: 100px;
            height: 30px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.3s;
            border: 1px solid transparent;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
        }
        .header__logo__item:hover {
            transition: all 0.3s;
            transform: scale(1.2);
            border-color: black;
            background-size: 85%;
        }   
    }


    .header__menu {
        display: flex;
        width: 80%;
        justify-content: center;

        .header__menu__item {
            display: flex;
            text-decoration: none;
            color: black;
            padding: 0.5rem 1rem;
            margin: 0 0.5rem;
            transition: all 0.3s;
            border: 1px solid transparent;
            border-radius: 1rem;
        }
        .header__menu__item:hover {
            transition: all 0.3s;
            border: 1px solid black;
            transform: scale(1.2);
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-color: #e0e0e0;
    margin-top: -67px;

    .main__posts-list-container {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        margin-top: 100px;

        .main__posts-list-container__item {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 25px;
            border-radius: 1px solid transparent;
            transition: all 0.5s;

            .m-p-i_article {
                display: flex;
                flex-direction: column;
                width: 100%;

                .m-p-i_article_title {
                    display: flex;
                    align-self: center;
                    text-align: center;
                    margin-bottom: 15px;
                }

                .m-p-i_article_body {
                    display: flex;
                    width: 100%;
                    line-height: 24px;
                    margin-bottom: 15px;
                }

                .m-p-i_article_more-btn {
                    display: flex;
                    align-self: center;
                }
            }
        }
        .main__posts-list-container__item:hover {
            border-color: black;
            transition: all 0.2s;
            box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
            background-color: #fff;
        }
    }

    .main__greetings-page {
        display: flex;
        width: 80%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .main__greetings-page_title {
            display: flex;
            text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
            margin-bottom: 25px;
        }

        .main__greetings-page_get-started-btn {
            display: flex;
            padding: 0.5rem 1rem;
            transition: all 0.3s;
            border: 1px solid black;
            border-radius: 1rem;
            color: black;
            text-decoration: none;
        }
        .main__greetings-page_get-started-btn:hover {
            transition: all 0.3s;
            transform: scale(1.2);
            background: linear-gradient(to bottom, rgb(0, 255, 255), rgb(0, 150, 150));
            box-shadow: 0px 5px 15px rgba(0, 55, 55, 0.6);
        }
    }

    .main__post-page {
        display: flex;
        width: 100%;
        justify-content: center;

        .main__post-page__message {
            display: flex;
            width: 80%;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        .main__post-page__post {
            display: flex;
            width: 80%;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 50px;
            margin-top: 67px;

            .m-p-p_title {
                display: flex;
                margin-bottom: 25px;
            }

            .m-p-p_body {
                display: flex;
                line-height: 24px;
                margin-bottom: 15px;
            }

            .m-p-p_comments {
                display: flex;
                width: calc(100% - 30px);
                flex-direction: column;
                align-items: flex-start;
                margin: 15px;

                .m-p-p_comments_title {
                    margin-bottom: 15px;
                }

                .m-p-p_comments_comments-box {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 15px;
                    background-color: #fff;
                    border: 5px solid rgba(0, 0, 0, 0.4);

                    .comment {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 25px;

                        h4 {
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .m-p-p_post-change-form {
                display: flex;
                width: 80%;
                flex-direction: column;
                align-self: center;
                margin-top: 25px;

                .m-p-p_form-title {
                    margin-bottom: 15px;
                }

                .m-p-p_input-box {
                    @include inputBox;
    
                    .m-p-p_input-title {
                        @include inputTitle;
                    }
    
                    .m-p-p_input {
                        @include inputTag;
                    }
                    .m-p-p_input:hover {
                        @include inputHover;
                    }
                    .m-p-p_input:focus {
                        @include inputFocus;
                    }
                }
    
                .m-p-p_submit-btn {
                    @include formSubmitBtn;
                }
                .m-p-p_submit-btn:hover {
                    @include formSubmitBtnHover;
                }
                .m-p-p_submit-btn:focus {
                    @include formSubmitBtnFocus;
                }
            }
            
            .m-p-p_delete-btn {
                display: flex;
                width: fit-content;
                align-self: center;
                padding: 0.5rem 1rem;
                background-color: transparent;
                transition: all 0.3s;
                border: 1px solid black;
                border-radius: 1rem;
                margin: 25px 0;
            }
            .m-p-p_delete-btn:hover {
                transition: all 0.3s;
                transform: scale(1.2);
                background: linear-gradient(to bottom, rgb(255, 10, 10), rgb(150, 0, 0));
                color: #fff;
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }
            .m-p-p_delete-btn:focus {
                outline: none;
            }

            .m-p-p_change-btn {
                display: flex;
                width: fit-content;
                align-self: center;
                padding: 0.5rem 1rem;
                background-color: transparent;
                transition: all 0.3s;
                border: 1px solid black;
                border-radius: 1rem;
                text-decoration: none;
                color: black;
                margin: 25px 0;
            }
            .m-p-p_change-btn:hover {
                transition: all 0.3s;
                transform: scale(1.2);
                background: linear-gradient(to bottom, rgb(10, 155, 10), rgb(0, 50, 0));
                color: #fff;
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
            }
            .m-p-p_change-btn:focus {
                outline: none;
            }
        }

        .main__post-page__delete-message {
            display: flex;
            min-height: 100vh;
            align-items: center;
            justify-content: center;
        }
    }

    .main__new-post-page {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        width: 80%;

        .main__new-post-page__title {
            display: flex;
            margin-bottom: 25px;
        }

        .main__new-post-page__form {
            display: flex;
            flex-direction: column;
            width: 100%;

            .m-n-f_input-box {
                @include inputBox;

                .m-n-f_input-title {
                    @include inputTitle;
                }

                .m-n-f_input {
                    @include inputTag;
                }
                .m-n-f_input:hover {
                    @include inputHover;
                }
                .m-n-f_input:focus {
                    @include inputFocus;
                }
            }

            .m-n-f_submit-btn {
                @include formSubmitBtn;
            }
            .m-n-f_submit-btn:hover {
                @include formSubmitBtnHover;
            }
            .m-n-f_submit-btn:focus {
                @include formSubmitBtnFocus;
            }
        }
    }
}